@import './mixins.module.scss';
@import './variables.module.scss';

.mainHome {
    height: 100%;


    @include large {
        height: 120rem;
    }

    @include xxl {
        height: 70rem;

    }
}

.sectionSlogan {
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;

    h2 {
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 900;
        text-align: center;

        @include medium {
            font-size: 3.2rem;

        }
    }


}

.sloganDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;



}

.containerDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;



    @include medium {
        flex-direction: row;
        gap: 1rem;

        &:nth-child(2) {
            flex-direction: row-reverse;
        }

    }
}

.containerDescription__img {
    display: flex;
    flex-direction: row-reverse;

    img {
        overflow: hidden;
        border-radius: .8rem;
        transition: all ease-in-out .3s;
        width: 20rem;
        height: 25rem;
        margin-bottom: 1rem;



        @include large {
            width: 33rem;
        }

        @include xxl {
            width: 38rem;
        }
    }
}

.containerDescription__p {

    p {
        text-align: justify;
        font-size: 1.8rem;
        line-height: 1.5;

    }

}



.sloganImg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;

    @include medium {
        flex-direction: row;
        flex-wrap: wrap;
    }

    img {
        width: 20rem;
        height: 20rem;
        border-radius: .8rem;
        border: 2px dashed $color-btn;

        transition: transform ease-in-out .3s;


        &:hover {
            transform: scale(1.1);
        }

        @include medium {
            width: 20rem;

        }
    }


}


.sectionTestimony {
    margin-top: 6rem;
    height: 100%;


    @include large {
        height: 40rem;
    }




    h2 {

        text-align: center;
        margin-bottom: 2rem;
        font-size: 2.7rem;
        font-weight: 900;

        @include medium {
            font-size: 3.75rem;

        }


    }
}

.testimonyAll {

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;

    @include medium {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    p {
        font-size: 1rem;
    }
}


.containerTestimony {
    display: grid;
    justify-items: center;
    align-items: center;

    @include medium {
        grid-template-columns: .2fr 1fr;

    }

    img {
        width: 150px;
        height: 150px;
        transition: transform ease-in-out .3s;


        &:hover {
            transform: scale(1.1);
        }
    }


}

.containerTestimony_description {
    display: flex;
    flex-direction: column;

    p {
        text-transform: uppercase;
    }

    span {
        font-weight: bold;

        @include medium {
            align-self: flex-end;
        }
    }
}