@import './mixins.module.scss';
@import './variables.module.scss';

.mainHome {
    height: 100%;


    @include large {
        height: 120rem;
    }

    @include xxl {
        height: 70rem;

    }
}

.sectionSlogan {
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;

    h2 {
        margin-bottom: 2rem;
        font-size: 2.7rem;
        font-weight: 900;

        @include medium {
            font-size: 3.75rem;

        }
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 3rem;

        @include medium {
            font-size: 1.8rem;

        }

        @include xxl {
            font-size: 2rem;

        }

    }
}

.sloganImg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    gap: 1rem;

    @include medium {
        flex-direction: row;
        flex-wrap: wrap;
    }

    img {
        width: 16rem;
        border-radius: .8rem;
        transition: transform ease-in-out .3s;


        &:hover {
            transform: scale(1.1);
        }

        @include medium {
            width: 20rem;

        }
    }
}


.sectionTestimony {
    margin-top: 6rem;
    height: 100%;


    @include large {
        height: 40rem;
    }




    h2 {

        text-align: center;
        margin-bottom: 2rem;
        font-size: 2.7rem;
        font-weight: 900;

        @include medium {
            font-size: 3.75rem;

        }


    }
}

.testimonyAll {

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;

    @include medium {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    p {
        font-size: 1rem;
    }
}


.containerTestimony {
    display: grid;
    justify-items: center;
    align-items: center;

    @include medium {
        grid-template-columns: .2fr 1fr;

    }

    img {
        width: 150px;
        height: 150px;
        transition: transform ease-in-out .3s;


        &:hover {
            transform: scale(1.1);
        }
    }


}

.containerTestimony_description {
    display: flex;
    flex-direction: column;

    p {
        text-transform: uppercase;
    }

    span {
        font-weight: bold;

        @include medium {
            align-self: flex-end;
        }
    }
}